In [1]:
def add(a,b):
    c=a+b
    print(c)
add(2,4)

6

In [3]:
def add(a,b):
    c=a+b
    return c
add(2,4)

6

In [11]:
def add(a,b):
    c=a+b
    return 
output=add(2,4)

In [13]:
print(output)

None

In [17]:
def add(a,b):
    c=a+b
    return c
print(add(2,4))

6

In [15]:
def add(a,b):
    c=a+b
    return c
output=add(2,4)

In [18]:
output

6

In [20]:
def add(a,b):
    return a+b
print(add(2,4))

6

In [27]:
f_name=input("Enter Your first name:")
l_name=input("Enter Your last name:")
def name(first,last):
    First=first.title()
    Last=last.title()
    return First,Last
name(f_name,l_name)

Enter Your first name:SaNDEeP
Enter Your last name:KuMaR

('Sandeep', 'Kumar')

In [31]:
def data(num):
    minimum=min(num)
    maximum=max(num)
    return minimum,maximum
data([1,43,6,26,73,26,32,29,23])

(1, 73)

In [32]:
a,b=data([12,134,135,35,13,425,40]) # here a is assigned the value of minimum and b is assigned the value of Maximum

In [33]:
print(a)

12

In [34]:
print(b)

425

In [42]:
a=int(input("Enter first number:"))
b=int(input("Enter Second number:"))
def add(a,b):
    if a==0 and b==0:
        return None
    else:
        return a+b
print(add(a,b))

Enter first number:0
Enter Second number:0
None

In [44]:
print(add(a,b))

None

In [5]:
# Calender
def dates(year,month):
    if year%4==0 and year%100 !=0:
        return "Leap Year"
    elif year%100==0 and year%400==0:
        return "Leap Year"
    else:
        return "No leap Year"
year=int(input("Enter the year:"))
month=int(input("Enter the Month:"))
dates(year,month)

Enter the year:1700
Enter the Month:5

'No leap Year'