> ### For Else Excercise

#### Program to calculate average height from a list of heights

In [11]:
heights=input("Enter all the heights separated by a space:")
height_list=heights.split()
for i in range(0,len(height_list)):
    height_list[i]=int(height_list[i]) #converting all the element into integer
total=sum(height_list) #sum of all element
avg=total/len(height_list)
print(f"The average height of {height_list} is {round(avg)}")

Enter all the heights separated by a space:1 2 3 4 5 6 7 8 9
The average height of [1, 2, 3, 4, 5, 6, 7, 8, 9] is 5

In [10]:
type(height_list[2])

int

In [18]:
num=input("Enter the numbers separated by a space:")
num=num.split()
for i in range(0,len(num)):
    num[i]=int(num[i])
maximum=0
for i in range(len(num)):
    if maximum<num[i]:
        maximum=num[i]
print(maximum)

Enter the numbers separated by a space:12 45 456 13 453
456

> ### range() in detail

In [22]:
a=range(6)
a[2]

2

In [25]:
b=range(2,5)
b[2]

4

In [27]:
for i in b:
    print(i)

2
3
4

In [28]:
c=range(2,15,3)
for i in c:
    print(i)

2
5
8
11
14

In [31]:
c=range(1,15,-3)
for i in c:
    print(i)

In [32]:
c=range(1,15,0) #invalid step value
for i in c:
    print(i)

ValueError: range() arg 3 must not be zero

In [33]:
c=range(10,1,-1)
for i in c:
    print(i)

10
9
8
7
6
5
4
3
2

In [34]:
c=range(-1,-15,-3)
for i in c:
    print(i)

-1
-4
-7
-10
-13

In [41]:
### Excercise:
a=range(0,101)
sum=0
for i in a:
    sum+=i
print(sum)

5050

In [42]:
#second method
total=0
for i in range(0,101):
    total=+i
print(sum)

5050